{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'sum_ints_app/application.css' %}" />
    </head>
    <body>
        <h1>Function test</h1>
        <form action="save_data/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" multiple="multiple"/>
            <br/>
            <input type="submit" value="Upload Files" />
        </form>
        <form action="run_calculation/" method="GET">
            <input type="submit" value="Run" />
        </form>
        <form action="last_status/" method="GET">
            <input type="submit" value="Last status" />
        </form>
        <form action="last_result/" method="GET">
            <input type="submit" value="Last result" />
        </form>
    </body>
</html>
